<h3>Archives </h3>
<% if @novations.to_a.empty? %>
  <div class="post">
    <p>No novations found...</p>
  </div>
<% else %>
  <% current_month = 0 %>  
  <% current_year = 0 %>
  <% for novation in @novations %> 
    <% if (novation.created_at.year != current_year)
     current_year = novation.created_at.year %>
    <h3 class="archiveyear"><%= novation.created_at.year%></h3>
<% end %>
<% if (novation.created_at.month != current_month || novation.created_at.year != current_year) 
 current_month = novation.created_at.month 
 current_year = novation.created_at.year %>  

<h4 class="archivemonth"><%= (Date::MONTHNAMES[novation.created_at.month]) %></h4>
<% end %>
<div class="archivepost">
  <%= link_to novation.heading, novation_path(novation) %> on <%= novation.created_at.strftime('%A')%> - <%= novation.created_at.strftime('%d') + "th"%>
</div>
<% end -%>
<% end %>
<p>
  <%= link_to 'Back', :back, class: "btn btn-default navbar-btn" %> <!--pages_path -->
</p>