<h1>Editing Novation</h1>

<%= form_for(@novation) do |f| %>
<p>
<%= f.text_field :heading %>
</p>
<p>
<%= f.text_area :subject %>
</p>

<%= f.submit "Update" %>
<% end %>

<p>
  <%= link_to 'Back', :back %>
</p>