<div class="row">

<table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Heading</th>
      </tr>
    </thead>
    <tbody>
    <% @novations.each do |novation| %>
      <tr>
        <td class="col-md-1"><strong><%= novation.created_at.strftime("%d.%m.%Y") %></strong></td>
        <td class="col-md-11"><%= link_to novation.heading, novation_path(novation) %></td>
      </tr>
      <% end %>
    </tbody>
</table>


<p>
<%= link_to "Archive", new_page_path, class: "btn btn-default navbar-btn" %>
</p>

   
</div>