<h1>New Novation</h1>
<%= form_for :novation, url: novations_path do |f| %>
<%= f.hidden_field :page_id, :value => 3 %>
 
 <% if @novation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@novation.errors.count, "error") %> prohibited
        this novation from being saved:
      </h2>
      <ul>
        <% @novation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :heading %><br>
    <%= f.text_field :heading %>
  </p>
 
  <p>
    <%= f.label :subject %><br>
    <%= f.text_area :subject %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<p>
  <%= link_to 'Back', :back %> <!--novations_path-->
</p>