<p>
  <strong>Heading:</strong>
  <%= @novation.heading %>
</p>
 
<p>
  <strong>Subject:</strong>
  <%= @novation.subject %>
</p>

<p>
  <%= link_to 'Back', :back, class: "btn btn-default navbar-btn" %> <!--pages_path -->
</p>