<h1>Editing Article</h1>
<%= form_for(@article) do |f| %>
<p>
<%= f.text_field :item %>
</p>
<%= f.text_area :description %><br>
<%= f.submit "Update" %>
<% end %>

<p>
  <%= link_to 'Back', :back %>
</p>