<h1>New Article</h1>

<%= form_for([@page, @page.articles.build]) do |f| %>
 
  <p>
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<p>
  <%= link_to 'Back', :back %> <!--novations_path-->
</p>