<!--<%= link_to "school cms", root_path, id: "logo" %>-->
<nav>
  <ul class="nav nav-pills nav-stacked" style="padding-top: 9px;">
    <% @pages.each do |page| %>
      <li  class="<%= 'active' if current_page?(page_path(page)) %> text-uppercase">
        <%= link_to page.title, page_path(page) %>
        <%= link_to '', edit_page_path(page), class: "glyphicon glyphicon-pencil", id: "menu-editing" %>
        <%= link_to '', page_path(page),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove", id: "menu-editing" %>
      </li>
    <% end %>
  </ul>
  <%= link_to "New Page", new_page_path, class: "btn btn-default navbar-btn nav-justified" %>
</nav>