<h1>Editing Page</h1>

<%= form_for(@page) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <%= f.submit "Update Page" %>
<% end %>

<p>
  <%= link_to 'Back', :back %> <!--pages_path -->
</p>