<% @pages.each do |page| %>
<%= link_to page.title, page_path(page) %>
<%= link_to "Edit Page", edit_page_path(page) %>
<!--<%= page.title %>-->
<%= link_to '| Destroy', page_path(page),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<br>
<% end %>
<p>
<%= link_to "New Page", new_page_path %>
</p>