<h1>New Page</h1>

<%= form_for :page, url: pages_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<p>
  <%= link_to 'Back', :back %> <!--pages_path -->
</p>