<div class="container-fluid">
<div class="row">
  <div class="col-md-2">
    <%= render 'menu' %>
  </div>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="long-art"></div>
      <div class="container">
        <%= link_to "school cms", '#', id: "logo" %>
        <div id="page-name" class="center">
        <%= @page.title %><%= link_to '', new_novation_path, class: "glyphicon glyphicon-plus-sign pull-right", id: "new" if @page.title == "Novations" %>
        <%= link_to '', new_page_article_path(@page), class: "glyphicon glyphicon-plus-sign pull-right", id: "new" if @page.title == "Articles" %>
        </div>
      </div>
  </header>

  <div class="col-md-10">

    <%= render "updated" if @page.title == "Articles" %>

    <div class="jumbotron col-md-12">
      <%= @page.content if @page.title != "Novations" && @page.title != "Articles" %>
      
      <ul class="col-md-12">
      <div class="panel-group" id="accordion">
      <% @articles.each_with_index do |article, index| %>
          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
                <li>
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index+1 %>"><%= article.item %></a>
                  <%= link_to '', edit_article_path(article), class: "glyphicon glyphicon-pencil", id: "pencil-remove" %>
                  <%= link_to '', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove", id: "pencil-remove" %>
                </li>
              </h4>
            </div>

            <div id="collapse<%= index+1 %>" class="panel-collapse collapse">
              <div class="panel-body">
                <p><%= article.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </ul>

      <% @novations.each do |novation| %>
        <div class="list-group-item"><%= novation.created_at.strftime("%d.%m.%Y") %>
          <strong><%= novation.heading %></strong>
          <%= link_to '', edit_novation_path(novation), class: "glyphicon glyphicon-pencil", id: "pencil-remove" %>
          <%= link_to '', novation_path(novation),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove", id: "pencil-remove" %>
        </div>
        <br>
          <%= novation.subject %>
          <hr>
      <% end %>
      <p>
        <%= link_to "Archives", archives_path, class: "btn btn-default navbar-btn" if @page.title == "Novations" %>
      </p>
    </div>
  </div>
</div>
</div>