@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#page-name {
  margin-right: -20px;
  margin-bottom: 5px;/**/
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  }

/* footer */

footer {
  margin-top: 45px;
  margin-bottom: 25px;/**/
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  #copyright {
  float: right;
  }
}


html {
  position: relative;
  min-height: 100%;
    body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    }
    .footer-image {
    height: 15px;
    background: url("http://netdna.webdesignerdepot.com/themes/wdd/images/strip.png") repeat-x scroll 0 0 / auto 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
  }
  footer {
  position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
  }
}

.long-art {
    background: url("http://netdna.webdesignerdepot.com/themes/wdd/images/strip.png") repeat-x scroll 0 0 / auto 100%;
    height: 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
}

/* pencil-remove "buttons" */
#pencil-remove {
  float: right;
  /*padding-right: 10px;*/
  padding-left: 10px;
  /*top: 7px;*/
  text-decoration: none;
  &:hover { 
    color: red;
  }
}


#menu-editing {
  float: right;
  padding-right: 5px;
  padding-left: 5px;
  top: -37px;
  text-decoration: none;
  &:hover { 
    color: red;
  }
}

/* data are updated */
  #callout-danger {
    border-left-color: #ce4844;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
}

/* plus sign on header */
#new {
  margin-right: 23px;
  top: 5px;
  text-decoration: none;
  &:hover { 
    color: red;
  }
}

/* artile list */
ul
{
    list-style-type: none;
}

.panel-body {
  p {
  font-size: 14px;
  }
}

.col-md-10 {
  padding-top: 9px;
  }

  /*.jumbotron {
     p {
       font-size: 14px;
     }
  }*/

  #el {
    margin-bottom: 40px;
}