<footer class="footer container">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <!--<nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>-->
  <div id="copyright">
    &#9426; MKOU, 2008-<%= @current_year %>
  </div>
</footer>

<!--<div class="container-fluid footer-wrap long-art"></div>-->
<div class="footer-image"></div>
</div>